<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>编辑内容</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="title"><h2>信息修改</h2></div>
        <form action="" method="post">
            <div class="id">
                ID：<input type="text" name="id"  value={$result.id}>
            </div>
            <div class="main">
                部门名称：<input type="text" name="name"  value={$result.name}>
            </div>
            <div class="select-wrap">
                上级部门：<select name="pid">
                            <option value=0>顶级部门</option> 
                            <volist name='list' id='vo'>
                            <option value={$vo.pid}>{$vo.name}</option>
                           </volist>
                        </select>
            </div>
            <div>
                排序：<input type="text" name="sort"  value={$result.sort}>
            </div>
                <div>
                    备注：<textarea  name="remark">{$result.remark}</textarea>
                </div>
            <input type="submit" value="提交"> 
            
            <input type="reset" name="button" id="button" value="重置">
        </form>
    </body>
</html>
